@model IEnumerable<About>


<ul class="personal-info">
    @foreach (var item in Model)
    {
        <li>
            <p> <span> Name</span>@item.Name</p>
        </li>
        <li>
            <p> <span> Age</span>@item.Age</p>
        </li>
        <li>
            <p>
                @if (@item.Location == null)
                {
                    <span></span>
                }
                else
                {
                    <span> Location</span>
                }

                @item.Location
            </p>

        </li>
        <li>
            <p> <span> Experience</span>@item.Experince </p>
        </li>
        <li>
            <p> <span> Degree</span> @item.Degree</p>
        </li>
        <li>
            <p> <span> Career Level</span>@item.CareerLevel</p>
        </li>
        <li>
            <p> <span> Phone</span>@item.Phone</p>
        </li>
        <li>
            <p> <span> FAX</span>@item.Fax </p>
        </li>
        <li>
            <p> <span> E-mail</span> <a href="#."></a> @item.Email</p>
        </li>
        <li>
            <p>
                @if (@item.Website == null)
                {
                    <span></span>
                }
                else
                {
                    <span> Website</span>
                }

                <a href="#."></a>@item.Website
            </p>
        </li>
    }
</ul>


<!-- Social Profiles -->
<h5 class="tittle">Social Profiles</h5>
<div class="social-icon bor-btm padding-25">
    <ul>
        @foreach (var item in Model)
        {
            if (!string.IsNullOrWhiteSpace(item.FacebookLink))
            {
                <li> <a target="_blank" href="@item.FacebookLink"> <i class="fa fa-facebook"></i></a> </li>
            }

            if (!string.IsNullOrWhiteSpace(item.GithubLink))
            {
                <li> <a target="_blank" href="@item.GithubLink"> <i class="fa fa-github"></i></a> </li>
            }

            if (!string.IsNullOrWhiteSpace(item.YoutubeLink))
            {
                <li> <a target="_blank" href="@item.YoutubeLink"><i class="fa fa-youtube"></i></a> </li>
            }

            if (!string.IsNullOrWhiteSpace(item.InstagramLink))
            {
                 <li> <a target="_blank" href="@item.InstagramLink"> <i class="fa fa-instagram"></i></a> </li>
            }

            if (!string.IsNullOrWhiteSpace(item.LinkedinLink))
            {
                <li> <a target="_blank" href="@item.LinkedinLink"> <i class="fa fa-linkedin"></i></a> </li>
            }
        }
        
    </ul>
</div>